@use 'variable' as *;
@use 'textmixin' as *;


// --------  CARD MIXINS  -->>>>>   ------//

// -------check card-para mixin in textmixin file-----////


// ----CARD Box-shadow  MIXINS ------//
@mixin box-shadow{
    box-shadow: -7px 8px 53px 11px $box-shadow-color;
}



// -------BUTTON MIXIN-----////

@mixin cta-btn($value){
    padding: $value;

    @include font-rob-med;
    text-decoration: none;
    border-radius: 2rem;  
    // background: $secondary-color;
    color:$text-color;
    text-decoration: none;
   transition:all 0.3s ease-in;
   border:3px solid $primary-color;
}


// -------BUTTON---Hover----MIXIN-----////
@mixin ctn-btn-hover{
    background:$primary-color;
    // color:$primary-color;
}



// NEWSLETTER GRADIENT ///

@mixin news-gradiant{
    background: rgb(88,129,173);
background: linear-gradient(147deg, rgba(88,129,173,1) 20%, rgba(114,177,168,1) 75%);

}